In [1]:
import pandas as pd 
from pandasql import sqldf

#pass in global variables to the query object so that we donâ€™t have to do this every single time we run a query
pysqldf = lambda q: sqldf(q, globals())

#load data
df = pd.read_csv('../data/decadata_monthly_store_isin.csv')

In [2]:
df.head()

,ourmonth,store,ISIN,cnt,sum_dollar
0,2017-01-01,105d2d9dd58f37a447d362d466c9d8cae32a88ba,BE0974293251,677,9128.25
1,2017-01-01,105d2d9dd58f37a447d362d466c9d8cae32a88ba,GB0002374006,875,17597.14
2,2017-01-01,105d2d9dd58f37a447d362d466c9d8cae32a88ba,US1912161007,591,909.54
3,2017-01-01,105d2d9dd58f37a447d362d466c9d8cae32a88ba,US60871R2094,313,3850.87
4,2017-01-01,105d2d9dd58f37a447d362d466c9d8cae32a88ba,US61174X1090,16,64.98

### 2
First, aggregate the data on the following dimensions. There should be ~20k rows when you are
done.

a. Ourmonth

b. store

In [3]:
import numpy as np
df0 = df[['ourmonth','sum_dollar','store']].groupby(['store','ourmonth']).sum('sum_dollar')#.agg({'sum_dollar':['sum']})
df0.head(10)

                                                     sum_dollar
store                                    ourmonth
105d2d9dd58f37a447d362d466c9d8cae32a88ba 2017-01-01    31651.28
                                         2017-02-01    31767.06
                                         2017-03-01    37704.24
                                         2017-04-01    35791.28
                                         2017-05-01    38352.32
                                         2017-06-01    35244.08
                                         2017-07-01    37637.64
                                         2017-08-01    35785.36
                                         2017-09-01    41828.68
                                         2017-10-01    40839.85

In [4]:
len(df0)

22019

### 3
Use at the total sales (sum_dollar) amount as your key indicator.

In [5]:
pd.pivot_table(df0,values='sum_dollar', index=['store'],
                    columns=['ourmonth'])

ourmonth,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,...,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01
store,,,,,,,,,,,,,,,,,,,,,
105d2d9dd58f37a447d362d466c9d8cae32a88ba,31651.28,31767.06,37704.24,35791.28,38352.32,35244.08,37637.64,35785.36,41828.68,40839.85,...,40338.92,33283.24,36916.98,37170.83,37798.02,36644.10,35992.74,37972.63,36883.63,43118.09
10bad95de098e4823d3cfb4ec2b7406725d35215,467802.36,419333.44,441175.29,460365.55,468365.82,438106.79,465921.97,445713.97,481015.35,462720.35,...,456120.27,440636.62,464842.55,439298.76,459225.86,483097.55,491398.74,471640.61,495777.69,501185.89
10c63e23a4e6c2c9c5ceb8ce0d8090c30ab6775c,209269.60,202267.40,208563.74,218970.61,203567.51,204382.12,216139.89,193568.69,238173.26,205710.35,...,190869.98,195933.66,199899.34,205296.43,206541.90,203149.67,196796.23,186802.60,195795.89,193017.27
10d2a05bd4d4e03e306902209f9260a71f2a8615,127334.89,122242.92,139786.71,149012.97,113855.57,79704.62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11383182f75059f68240bc8c4a476e95645632b8,40102.40,38068.24,45343.11,40756.33,40260.53,36873.16,34980.14,35784.50,38902.79,34961.04,...,42974.88,38504.87,37408.94,37172.82,38081.88,37641.53,36732.83,35715.15,39996.23,49153.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ff400b4888fe521a4ba7e5924b8b7f2c238345e,273345.19,267015.12,297611.16,297222.73,304229.49,278237.57,291352.25,290775.68,307719.22,263989.10,...,294639.72,291248.70,286008.08,279915.15,290902.92,294840.28,290386.52,288142.02,277990.16,277510.03
ff54d085bcda3727af4952d734b0f7788c3c4542,772378.82,700761.68,737716.37,726213.64,680502.07,662624.63,691645.82,791705.37,767076.10,824583.33,...,820743.71,756105.07,783742.63,772826.10,823901.51,880164.30,894365.51,917729.23,928068.38,911026.55
ff869707c585427f5a1150e6acdbb2edfff045d3,368118.86,329472.33,360162.12,356905.92,363795.23,341811.27,349646.97,346859.72,352203.30,340862.91,...,347561.70,327225.28,351210.67,342858.78,340589.46,338668.22,353383.50,342063.64,350652.62,375173.13
ff9f1d354cdf9f934fa01785aa55da664c8d6abb,477326.05,463824.66,501167.05,495345.26,503438.54,487811.09,498810.53,493441.74,479568.80,516312.80,...,520106.09,487983.19,499102.27,480183.71,493045.03,494276.40,519098.85,488107.16,517818.45,511302.86
ffad7e6e367e59e62bb359da11339f8ccda2e58c,306739.14,302089.72,328073.86,344797.96,334030.50,302966.12,337800.56,313720.27,373493.18,328431.64,...,312416.86,340420.81,333544.69,312916.42,303271.89,319144.52,313748.41,305017.10,321891.52,303795.23

Another way to do it using the orignial data:

In [6]:
df1 = pd.pivot_table(df[['ourmonth','sum_dollar','store']], values='sum_dollar', index=['store'],
                    columns=['ourmonth'], aggfunc=np.sum)

In [7]:
df1.head(10)

ourmonth,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,...,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01
store,,,,,,,,,,,,,,,,,,,,,
105d2d9dd58f37a447d362d466c9d8cae32a88ba,31651.28,31767.06,37704.24,35791.28,38352.32,35244.08,37637.64,35785.36,41828.68,40839.85,...,40338.92,33283.24,36916.98,37170.83,37798.02,36644.10,35992.74,37972.63,36883.63,43118.09
10bad95de098e4823d3cfb4ec2b7406725d35215,467802.36,419333.44,441175.29,460365.55,468365.82,438106.79,465921.97,445713.97,481015.35,462720.35,...,456120.27,440636.62,464842.55,439298.76,459225.86,483097.55,491398.74,471640.61,495777.69,501185.89
10c63e23a4e6c2c9c5ceb8ce0d8090c30ab6775c,209269.60,202267.40,208563.74,218970.61,203567.51,204382.12,216139.89,193568.69,238173.26,205710.35,...,190869.98,195933.66,199899.34,205296.43,206541.90,203149.67,196796.23,186802.60,195795.89,193017.27
10d2a05bd4d4e03e306902209f9260a71f2a8615,127334.89,122242.92,139786.71,149012.97,113855.57,79704.62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11383182f75059f68240bc8c4a476e95645632b8,40102.40,38068.24,45343.11,40756.33,40260.53,36873.16,34980.14,35784.50,38902.79,34961.04,...,42974.88,38504.87,37408.94,37172.82,38081.88,37641.53,36732.83,35715.15,39996.23,49153.36
11f953492e670239c526d3b60dc28aa48a1f892d,300754.73,270654.92,291487.38,288027.48,287544.56,277578.19,285358.90,272974.76,278161.90,262612.66,...,272502.64,269522.78,276889.02,267523.91,276927.06,272663.89,278685.88,261830.71,282144.10,303401.17
1261258888cd495ad039b9aa79edcaf1551f173c,213337.82,197383.36,213683.35,224600.31,220687.75,204886.70,219322.81,209371.12,276720.50,231042.25,...,286104.69,33652.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295ff894fd9218d1c26eef15ea091dd9d2a3ed8,106660.60,102279.26,111331.98,110222.83,81213.27,123883.14,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129975b43c2f1571ff09304568a30bf15104b0c3,360860.01,343120.95,376240.38,385348.96,375048.63,353280.15,377769.75,361536.68,422820.94,478116.63,...,389837.61,391136.26,404543.95,393747.00,407035.21,416190.66,407591.62,402578.52,424545.32,398583.06
12a0f0c065d90dda99a6556004423c340a1b5d0,249787.30,242693.78,264439.51,258715.25,264692.54,254459.73,259103.58,254502.22,256852.00,266061.44,...,275448.75,246831.71,252926.95,239818.87,271335.54,267360.82,264480.81,253614.17,282476.80,270308.59

### 4
Remove outliers â€“ how to do this is up to you, but think about removing stores which donâ€™t have
enough good data to make the valueable for predicting other storeâ€™s missing data. Also remove
months which donâ€™t seem to be complete, very often bordering the missing months of data.

a. Remove entire outlier stores

b. Remove outlier store months

My Rules:

1. Delete the data point if it is not in the interval [mean-2std,mean+2std].
2. Delete the entire outlier store if it has less 6 month data.

There is Python package, pyod, supports all kinds of time series anomaly detection methods: https://pyod.readthedocs.io/en/latest/

In [ ]:
"""
def anomalyDetector(data):
    
    idx =  []
    for i in range(1,len(data)):
        if data[i-1]==np.nan and data[i] !=np.nan:
            idx.append(i)
    mean = data.mean()
    std = 
"""

In [8]:
def anomalyDetector2(dat,b=2):
    """
    dat: array
    """
    data = dat.copy()
    if sum(len(data)-np.isnan(data))<=6:
        return []
    mean = data.mean()
    std = data.std()
    lowerBound = mean - b*std
    upperBound = mean + b*std
    data[(data<lowerBound)|(data>upperBound)] = np.nan
    return data.to_list()

In [9]:
#df2 = pd.DataFrame(columns = df1.columns)
df2 = [anomalyDetector2(df1.iloc[0])]
for i in range(1,len(df1)):
    df2.append(anomalyDetector2(df1.iloc[i]))

In [10]:
df2 = pd.DataFrame(df2,columns=df1.columns,index=df1.index)
df2.dropna(how='all',inplace=True)
df2.head(10)

ourmonth,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,...,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01
store,,,,,,,,,,,,,,,,,,,,,
105d2d9dd58f37a447d362d466c9d8cae32a88ba,31651.28,31767.06,37704.24,35791.28,38352.32,35244.08,37637.64,35785.36,41828.68,40839.85,...,40338.92,33283.24,36916.98,37170.83,37798.02,36644.10,35992.74,37972.63,36883.63,43118.09
10bad95de098e4823d3cfb4ec2b7406725d35215,467802.36,419333.44,441175.29,460365.55,468365.82,438106.79,465921.97,445713.97,481015.35,462720.35,...,456120.27,440636.62,464842.55,439298.76,459225.86,483097.55,491398.74,471640.61,495777.69,501185.89
10c63e23a4e6c2c9c5ceb8ce0d8090c30ab6775c,209269.60,202267.40,208563.74,218970.61,203567.51,204382.12,216139.89,193568.69,NaN,205710.35,...,190869.98,195933.66,199899.34,205296.43,206541.90,203149.67,196796.23,186802.60,195795.89,193017.27
10d2a05bd4d4e03e306902209f9260a71f2a8615,127334.89,122242.92,139786.71,149012.97,113855.57,79704.62,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11383182f75059f68240bc8c4a476e95645632b8,40102.40,38068.24,45343.11,40756.33,40260.53,36873.16,34980.14,35784.50,38902.79,34961.04,...,42974.88,38504.87,37408.94,37172.82,38081.88,37641.53,36732.83,35715.15,39996.23,NaN
11f953492e670239c526d3b60dc28aa48a1f892d,300754.73,270654.92,291487.38,288027.48,287544.56,277578.19,285358.90,272974.76,278161.90,262612.66,...,272502.64,269522.78,276889.02,267523.91,276927.06,272663.89,278685.88,261830.71,282144.10,303401.17
1261258888cd495ad039b9aa79edcaf1551f173c,213337.82,197383.36,213683.35,224600.31,220687.75,204886.70,219322.81,209371.12,276720.50,231042.25,...,286104.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295ff894fd9218d1c26eef15ea091dd9d2a3ed8,106660.60,102279.26,111331.98,110222.83,81213.27,123883.14,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129975b43c2f1571ff09304568a30bf15104b0c3,360860.01,343120.95,376240.38,385348.96,375048.63,353280.15,377769.75,361536.68,422820.94,NaN,...,389837.61,391136.26,404543.95,393747.00,407035.21,416190.66,407591.62,402578.52,424545.32,398583.06
12a0f0c065d90dda99a6556004423c340a1b5d0,249787.30,242693.78,264439.51,258715.25,264692.54,254459.73,259103.58,254502.22,256852.00,266061.44,...,275448.75,246831.71,252926.95,239818.87,271335.54,267360.82,264480.81,253614.17,282476.80,270308.59

## 5
Impute (complete) the missing months. All months from Jan 2017 to Dec 2018 should be now available for analysis. No stores should have missing months of data.

a. The imputation model is up to you, but many off-the-shelf models are available in python.

### KNN Imputer
https://scikit-learn.org/stable/modules/impute.html#knnimpute

### Validation
Procedure to determine the number of neighbors used in the KNN Imputer:

Step 1: randomly delete data in the dataset based on the distribution of the size of missing data chunks unitl the percentage of missing data reaches predetermined value (achieved by the function "delete")

Generate N datasets by doing so.

Step 2: get the performance of each imputer on all the N datasets we got from step1.(achieved by the funciton "imputer_validate"ï¼‰

Step 3: get the optimal imputer

In [11]:
#validate
import random
import math
from sklearn.impute import KNNImputer

#function to randomly delete data based on the distribution of missing data
def delete(data, goal=0.1):
    """
    data: array
    goal: fraction of missing data in the whole dataset
    """
    totalNumber = data.shape[0]*data.shape[1]
    existingMissing = sum(sum(np.isnan(data)))
    goalNumber = math.ceil(goal*totalNumber)
    
    new_data = data.copy()
    
    if existingMissing >= goalNumber:
        print('Original data already has',str(existingMissing/totalNumber*100),
              '% missing data, no need to delete more.')
        return new_data
    
    #print(existingMissing/totalNumber*100)
    monthNumber =  len(data[0])
    missing = np.isnan(data).sum(axis=1)
    missing_distribution = missing[missing>0]
    average_missing_size = round(sum(missing)/(np.count_nonzero(missing)))                                 
    
    #chunk_size = random.choices(missing_distribution, np.ceil(goalNumber-existingMissing))
    
    while(existingMissing - goalNumber<-totalNumber*0.005):
        idx = random.sample(range(len(data)), k=math.ceil((goalNumber-existingMissing)/average_missing_size))
        #print(idx)
        missing = np.isnan(new_data).sum(axis=1)                           

        for i in idx:   
            if missing[i]+average_missing_size>=monthNumber:
                new_data[i] = [np.nan]*monthNumber
            else:
                month = random.sample(range(monthNumber-average_missing_size),k=1)[0]
                new_data[i][month:month+average_missing_size] = np.nan
    
        existingMissing = sum(sum(np.isnan(new_data)))
                                                      
    return new_data

In [20]:
from sklearn.metrics.pairwise import nan_euclidean_distances

#function to validate the parameters of imputer
def imputer_validate(originalData, params, validationNumber=5, goal=0.1):
    """
    params: list of candidate parameters
    validationNumber: number of validation dataset to generate
    """
    validateDataList = []
    for i in range(validationNumber):
        validateDataList.append(delete(originalData,goal))
    
    distance_stats = []
    
    for param in params:
        imputer = KNNImputer(n_neighbors=param,weights='distance')
        distance = 0
        for data in validateDataList:
            imputation = imputer.fit_transform(data)
            distance+=np.nansum(np.diag(nan_euclidean_distances(data, imputation)))
        distance_stats.append(distance)
        #print(distance)

    return params[np.argmin(distance_stats)]

In [21]:
candidate_params = range(1,31)

best_param = imputer_validate(df2.values, candidate_params, validationNumber=10, goal=0.3)

In [22]:
best_param

1

In [23]:
best_imputer  = KNNImputer(n_neighbors=best_param,weights='distance')
df3 = pd.DataFrame(best_imputer.fit_transform(df2.values),columns=df2.columns,index=df2.index)
df3.head(10)

ourmonth,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,...,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01
store,,,,,,,,,,,,,,,,,,,,,
105d2d9dd58f37a447d362d466c9d8cae32a88ba,31651.28,31767.06,37704.24,35791.28,38352.32,35244.08,37637.64,35785.36,41828.68,40839.85,...,40338.92,33283.24,36916.98,37170.83,37798.02,36644.10,35992.74,37972.63,36883.63,43118.09
10bad95de098e4823d3cfb4ec2b7406725d35215,467802.36,419333.44,441175.29,460365.55,468365.82,438106.79,465921.97,445713.97,481015.35,462720.35,...,456120.27,440636.62,464842.55,439298.76,459225.86,483097.55,491398.74,471640.61,495777.69,501185.89
10c63e23a4e6c2c9c5ceb8ce0d8090c30ab6775c,209269.60,202267.40,208563.74,218970.61,203567.51,204382.12,216139.89,193568.69,218244.83,205710.35,...,190869.98,195933.66,199899.34,205296.43,206541.90,203149.67,196796.23,186802.60,195795.89,193017.27
10d2a05bd4d4e03e306902209f9260a71f2a8615,127334.89,122242.92,139786.71,149012.97,113855.57,79704.62,118813.98,120647.71,137676.49,119363.33,...,127458.11,42317.34,146656.44,145328.37,150264.13,152764.66,151670.50,157125.87,186500.50,163424.94
11383182f75059f68240bc8c4a476e95645632b8,40102.40,38068.24,45343.11,40756.33,40260.53,36873.16,34980.14,35784.50,38902.79,34961.04,...,42974.88,38504.87,37408.94,37172.82,38081.88,37641.53,36732.83,35715.15,39996.23,50171.33
11f953492e670239c526d3b60dc28aa48a1f892d,300754.73,270654.92,291487.38,288027.48,287544.56,277578.19,285358.90,272974.76,278161.90,262612.66,...,272502.64,269522.78,276889.02,267523.91,276927.06,272663.89,278685.88,261830.71,282144.10,303401.17
1261258888cd495ad039b9aa79edcaf1551f173c,213337.82,197383.36,213683.35,224600.31,220687.75,204886.70,219322.81,209371.12,276720.50,231042.25,...,286104.69,227125.73,241099.98,224170.56,241000.57,239685.76,238898.94,239368.46,248324.27,249482.81
1295ff894fd9218d1c26eef15ea091dd9d2a3ed8,106660.60,102279.26,111331.98,110222.83,81213.27,123883.14,108441.22,102963.04,110598.84,104530.74,...,114265.04,93132.65,83542.11,90964.97,96400.55,86541.99,77572.21,82479.62,74588.10,83646.28
129975b43c2f1571ff09304568a30bf15104b0c3,360860.01,343120.95,376240.38,385348.96,375048.63,353280.15,377769.75,361536.68,422820.94,359019.83,...,389837.61,391136.26,404543.95,393747.00,407035.21,416190.66,407591.62,402578.52,424545.32,398583.06
12a0f0c065d90dda99a6556004423c340a1b5d0,249787.30,242693.78,264439.51,258715.25,264692.54,254459.73,259103.58,254502.22,256852.00,266061.44,...,275448.75,246831.71,252926.95,239818.87,271335.54,267360.82,264480.81,253614.17,282476.80,270308.59

### Hot Deck Imputation

A randomly chosen value from an individual in the sample who has similar values on other variables.

In other words, find all the sample subjects who are similar on other variables, then randomly choose one of their values on the missing variable.

https://github.com/tarikbir/missing_data_imputation

### 6
Revisit step 2 for aggregation and now add ISIN to the aggregation (basically the original file).

In [24]:
df4 = pd.pivot_table(df[['ourmonth','sum_dollar','store','ISIN']], values='sum_dollar', index=['store','ISIN'],
                    columns=['ourmonth'], aggfunc=np.sum)

In [25]:
df4.head(10)

ourmonth                                               2017-01-01  2017-02-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251     9128.25     9182.21
                                         GB0002374006    17597.14    17099.51
                                         US1344291091         NaN        7.58
                                         US1912161007      909.54      979.46
                                         US49271V1008         NaN         NaN
                                         US60871R2094     3850.87     4331.12
                                         US61174X1090       64.98       95.96
                                         US7134481081      100.50       71.22
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    19683.82    21173.02
                                         FR0000120644     5422.41     4847.72

ourmonth                                               2017-03-01  2017-04-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11344.08    11918.13
                                         GB0002374006    20261.56    18055.61
                                         US1344291091        7.58         NaN
                                         US1912161007     1016.43     1063.86
                                         US49271V1008         NaN         NaN
                                         US60871R2094     4912.82     4626.35
                                         US61174X1090       79.97       63.98
                                         US7134481081       81.80       63.35
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    21091.72    26965.79
                                         FR0000120644     5204.77     5141.22

ourmonth                                               2017-05-01  2017-06-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    12281.68    11246.68
                                         GB0002374006    19759.00    18215.17
                                         US1344291091        3.79       15.16
                                         US1912161007     1153.61     1212.65
                                         US49271V1008         NaN         NaN
                                         US60871R2094     4987.94     4382.97
                                         US61174X1090       87.96       69.96
                                         US7134481081       78.34      101.49
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    30366.67    29423.60
                                         FR0000120644     5292.03     4659.82

ourmonth                                               2017-07-01  2017-08-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11421.27    11912.88
                                         GB0002374006    19595.87    17794.69
                                         US1344291091         NaN         NaN
                                         US1912161007     1120.83     1043.13
                                         US49271V1008         NaN         NaN
                                         US60871R2094     5360.68     4836.19
                                         US61174X1090       49.98       97.93
                                         US7134481081       89.01      100.54
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    34757.75    25939.18
                                         FR0000120644     4921.22     4971.41

ourmonth                                               2017-09-01  2017-10-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    13989.08    12718.01
                                         GB0002374006    21032.17    21836.59
                                         US1344291091       22.74        3.79
                                         US1912161007     1225.32     1171.61
                                         US49271V1008         NaN         NaN
                                         US60871R2094     5348.70     4852.49
                                         US61174X1090       87.95      139.96
                                         US7134481081      122.72      117.40
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    30987.16    24242.17
                                         FR0000120644     4742.66     4835.42

ourmonth                                               ...  2018-03-01  \
store                                    ISIN          ...
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251  ...    12894.58
                                         GB0002374006  ...    20673.29
                                         US1344291091  ...         NaN
                                         US1912161007  ...     1231.11
                                         US49271V1008  ...         NaN
                                         US60871R2094  ...     5376.84
                                         US61174X1090  ...       63.99
                                         US7134481081  ...       99.11
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251  ...    23049.86
                                         FR0000120644  ...     5317.35

ourmonth                                               2018-04-01  2018-05-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11390.53    12238.78
                                         GB0002374006    15837.01    18809.83
                                         US1344291091         NaN         NaN
                                         US1912161007     1013.40     1133.63
                                         US49271V1008         NaN         NaN
                                         US60871R2094     4784.96     4569.53
                                         US61174X1090       93.96       67.68
                                         US7134481081      163.38       97.53
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    23081.67    29497.39
                                         FR0000120644     4952.58     4833.84

ourmonth                                               2018-06-01  2018-07-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    12521.20    11574.66
                                         GB0002374006    18534.67    19299.65
                                         US1344291091        3.79       11.37
                                         US1912161007     1131.69     1047.14
                                         US49271V1008         NaN      466.73
                                         US60871R2094     4777.55     5189.72
                                         US61174X1090       81.43       79.95
                                         US7134481081      120.50      128.80
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    29268.30    28180.91
                                         FR0000120644     4563.19     4982.62

ourmonth                                               2018-08-01  2018-09-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11878.96    11183.15
                                         GB0002374006    17683.72    17377.41
                                         US1344291091         NaN        3.79
                                         US1912161007     1045.88     1060.04
                                         US49271V1008     1018.85      886.35
                                         US60871R2094     4869.13     5291.80
                                         US61174X1090       41.99       87.99
                                         US7134481081      105.57      102.21
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    24266.60    28786.99
                                         FR0000120644     5227.94     4941.55

ourmonth                                               2018-10-01  2018-11-01  \
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11582.73    10319.51
                                         GB0002374006    18712.62    19359.46
                                         US1344291091         NaN         NaN
                                         US1912161007     1021.74      981.07
                                         US49271V1008      953.53      843.56
                                         US60871R2094     5583.24     5213.98
                                         US61174X1090       19.98       25.57
                                         US7134481081       98.79      140.48
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    22821.62    23358.23
                                         FR0000120644     4544.70     3811.30

ourmonth                                               2018-12-01
store                                    ISIN
105d2d9dd58f37a447d362d466c9d8cae32a88ba BE0974293251    11133.93
                                         GB0002374006    24929.85
                                         US1344291091         NaN
                                         US1912161007     1088.62
                                         US49271V1008      889.28
                                         US60871R2094     4963.13
                                         US61174X1090       41.45
                                         US7134481081       71.83
10bad95de098e4823d3cfb4ec2b7406725d35215 BE0974293251    21786.08
                                         FR0000120644     3725.15

[10 rows x 24 columns]

### 7 
Try to repeat steps 3-5 above, however this time predicting sub_dollar on an ourmonth, store
and ISIN level. If you are not able to successfully do this, please write a few sentences on what
went wrong and how you think such a task could be ultimately solved.

The following code will get us the imputation dataset. However, since the dataset is large in this case (28151 rows and 24 columns), the process of determing the optimal parameter of our KNN imputer will take way more time than before. When employing KNN Imputer, we need to obtain the Norm-2 distance between any two time series in the dataset, therefore, when the number of rows increase 28 times, the calcultion time increase 28x28=784 times.

Possible solutions:

Running the valdition in multi-thread.

Running the project using online platform.

Use other imputer.

Use other data structure than ndarray.

In [26]:
print(100*sum(sum(np.isnan(df4.values)))/(df4.shape[0]*df4.shape[1]),'% data is missing.')
print(len(df4), ' combinations of stores and commodities in the dataset.')

13.631694551999336 % data is missing.
28151  combinations of stores and commodities in the dataset.

In [27]:
df5 = [anomalyDetector2(df4.iloc[0])]
for i in range(1,len(df4)):
    df5.append(anomalyDetector2(df4.iloc[i]))

In [29]:
print(100*sum(sum(np.isnan(df5)))/(df4.shape[0]*df4.shape[1])-100*sum(sum(np.isnan(df4.values)))/(df4.shape[0]*df4.shape[1]),
      '% data is detected as anomalies and deleted from the dataset.')

3.7649639444424725 % data is detected as anomalies and deleted from the dataset.

In [33]:
df5 = pd.DataFrame(df4,columns=df4.columns,index=df4.index)
df5.dropna(how='all',inplace=True)
print(len(df4)-len(df5), ' combinations of stores and commodities have been deleted from the dataset.')

0  combinations of stores and commodities have been deleted from the dataset.

KNN imputation is extremely slow dealing with large matrix which has too many rows.

In [ ]:
candidate_params_2 = range(20,201,10)

best_param_1 = imputer_validate(df5.values, candidate_params_2, validationNumber=5, goal=0.25)